@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
* {
  background-color: white;
}

.big-sque {
  margin-left: 340px;
  height: 800px;
  width: 1000px;
  border: 2px solid black;
  background-image: linear-gradient(
  to right,  
  red 0% 33.3% , 
  blue 33.3% 66.6%,
  green 66.6% 100%
  );
}

.small-sque {
  position:absolute;
  bottom: 420px;
  left: 380px;
  height: 75px;
  width: 75px;
  background: white;
  border: 2px solid black;
  }


.s1 {
  bottom: 420px;
  left: 470px;
}

.s2 {
  bottom: 420px;
  left: 560px;
}

.s3 {
top: 10px;
left: 740px;
}

.s4 {
  top: 10px;
  left: 830px;
}

.s5 {
  top: 10px;
  left: 920px;
}

.s6 {
  bottom:60px;
  left: 1015px;
}

.s7 {
  bottom: 150px;
  left: 1015px;
}

.s8{
  bottom: 240px;
  left: 1015px;
}